.kosar-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 88px;
    width: 100%;
}

.kosar-container h1 {
    background-color: #fff;
    margin: auto;
    text-align: center;
}

.kosar-kontener {
    align-items: center;
    display: grid;
    gap: 1em;
    min-height: 100vh;
    margin: 20px auto;
    width: 80%;
}

.kosar-elem {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 350px;
    padding: 1em;
}

.kosar-elem img {
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.kosar-elem button {
    cursor: pointer;
    font-size: 2em;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
  .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 6;}
  .item3 {grid-area: 3 / span 6;}
  .item4 {grid-area: 4 / span 6;}
  .item5 {grid-area: 5 / span 6;}
}

@media only screen and (min-width: 600px) {
  .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 1;}
  .item3 {grid-area: 2 / span 4;}
  .item4 {grid-area: 3 / span 6;}
  .item5 {grid-area: 4 / span 6;}
}

@media only screen and (min-width: 768px) {
  .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 1;}
  .item3 {grid-area: 2 / span 4;}
  .item4 {grid-area: 2 / span 1;}
  .item5 {grid-area: 3 / span 6;}
}